.menu-container{
    margin: 40px 0px;
    height: 60vh;
    width: 100%;
}
.explore-section{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.explore-section h1{
    font-weight: 400;
}
.explore-section-p{
    width: 50vw;
}
.menus{
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.menu-item{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 10px;
    cursor: pointer;
    padding: 5px;
}
.menus .menu-item img{
    height: 100px;
    width: 100px;
}